
            header h1 {
                text-align: Left;
                margin: 20px;
            }

            header nav {
                text-align: Left;
                padding: 0; 
            }

            body {
                background: #852424d0;
                font-family: 'Times New Roman', Times, serif;
                margin: 0;
                padding: 0;
            }

            nav ul {
            background-color: aqua;
            list-style: none;
            display: flex;
            text-align: left;
            margin: 0;
            padding: 20px;
            
            }

            nav li {
            margin: 9px 20px 7px;
            }

            nav a {
            text-decoration: none;
            color: rgb(0, 0, 0);
            font-weight: bolder;
            font-size: 18px;
            transition: color 0.3s;
            }

            nav a:hover {
            color: rgb(250, 164, 5);
            }

            section {
                background: blue;
                color: gray;
                padding: 20px;
                display: flex;
                flex-direction: row;
            }

            div {
                background: white;
                margin: auto;
                width: 100px;

           }

        
