
            header h1 {
                text-align: Left;
                margin: 20px 60PX;
            }

            header nav {
                text-align: Left;
                padding: 0; 
            }

            body {
                background: #ffffff;
                font-family: 'Times New Roman', Times, serif;
                margin: 0;
                padding: 0;
            }

            nav ul {
                background-image: url("images/photoheader2.png");
                background-position: center -380px;
                background-repeat: no-repeat;
                background-size: cover;
                list-style: none;
                display: flex;
                text-align: left;
                margin: 0;
                padding: 45px;

            }

            nav li {
                margin: 19px 20px 7px;
            }

            nav a {
                text-decoration: none;
                background: white;
                color: rgb(0, 0, 0);
                font-weight: bolder;
                font-family: 'Times New Roman', Times, serif;
                font-size: 21px;
                transition: color 0.3s;
            }

            nav a:hover {
                color: rgb(44, 73, 235);
            }

            section {
                background-image: url("images/photoheader2.png");
                background-position: center -600px;
                background-repeat: no-repeat;
                background-size: cover;
                padding: 100px;
                display: flex;
                flex-direction: row;
            }

            div {
                background: white;
                margin: auto;
                width: 100px;

           }

            .profile-photo {
                max-width: 500px;
                width: 100%;
                height: auto;
                border-radius: 12px;
                margin: 20px 0 80px;
                margin-left: auto;
                display: block;
            }
